 body {
    background-color: #7cccff;
 }

    ul.center-list{
        display: inline-block;

    }

    ul.center-list > li {
        text-align: left;
        color: #060467
    }
    p.text1{
        font-family: "Licorice", serif;
        font-size: 38px;
        color: #0595ab;
    }

    p.text2{
        font-family:"Tangerine", serif;
        font-size: 38px;
        color: #064ca2;
    }